@model ControlCompras.Models.Facturas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Facturas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFactura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
